.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cadetblue;
}

.input{
    display: flex;
    justify-content: center;
    margin: 25px;
}

.Cart{
  width: 180px;
margin: 0px;
padding: 0px;
  
}

.imageContainer{
  max-width: 350px;
  max-height: 350px;
}

.imageContainer img {
  width: 100%; /* Resmi kutunun içine sığdırmak için önerilen genişlik */
  height: auto; /* Oranları koruyarak yüksekliği otomatik olarak ayarlar */
}
.CartMain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  background-color: aliceblue;
  padding: 10px;

}
.CartSize{
  margin-bottom: 25px;
  margin-right: 25px;
}
.space {
  width: 15%;
  background-color: lightgray;
  padding: 10px;
}
.Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px;
    
}

.filters{
  width: 30%;
  background-color: lightgreen;
  padding: 10px;
}

.movie{
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.MesajContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MjTitle {
  display: flex;
 
}

.MainMj{
  display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.MessageBox{
  display: flex;
    flex-direction: column;
    width: 68%;
}
.User{
  display: flex;
    justify-content: center;
}

.inputName {
  display: flex;
    width: 30%;
    height: 30px;
    margin-right: 30px;
}

.inputEmail {
  display: flex;
  width: 30%;
  height: 30px;
}
.mainDescription{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.inputDescription {
  display: flex;
  width: 30%;
  margin: 30px;
  height: 50px;
}

.Mjsubmit {
  height: 50px;
  font-size: large;
}
.SearchImg{
  object-fit: cover;
  width: 300px;
  height: 250px;
  margin-bottom: 60px;
}

.SeachContainer{
  display: flex;
  flex-direction: column;
  width: 66%;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

