.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cadetblue;
}

.inputt {
  
  justify-content: center;
  margin: 25px;
}

.Cart {
  width: 180px;
  margin: 0px;
  padding: 0px;
}

.imageContainer {
  max-width: 350px;
  max-height: 350px;
}

.imageContainer img {
  width: 100%; /* Resmi kutunun içine sığdırmak için önerilen genişlik */
  height: auto; /* Oranları koruyarak yüksekliği otomatik olarak ayarlar */
}
.CartMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  background-color: aliceblue;
  padding-top: 30px;
  margin-bottom: 50px;
  border-radius: 45px;
}
.CartSize {
  margin-bottom: 25px;
  margin-right: 25px;
}
.space {
  width: 15%;
  background-color: fixed;
  padding: 10px;
}
.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px;
  flex-wrap: wrap;
}

.filters {
  width: 30%;
  background-color: lightgreen;
  padding: 10px;
}

.movie {
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.MesajContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MjTitle {
  display: flex;
}

.MainMj {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.MessageBox {
  display: flex;
  flex-direction: column;
  width: 68%;
}
.User {
  display: flex;
  justify-content: center;
}

.inputName {
  display: flex;
  width: 30%;
  height: 30px;
  margin-right: 30px;
}

.inputEmail {
  display: flex;
  width: 30%;
  height: 30px;
}
.mainDescription {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.inputDescription {
  display: flex;
  width: 30%;
  margin: 30px;
  height: 50px;
}

.Mjsubmit {
  height: 50px;
  font-size: large;
}
.SearchImg {
  object-fit: cover;
  width: 300px;
  height: 250px;
  margin-bottom: 60px;
}

.SeachContainer {
  display: flex;
  flex-direction: column;
  width: 66%;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  margin-bottom: 50px;
  padding-top: 30px;
  border-radius: 45px;
}

.themeRow {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.mjRow {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.Header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  background-color: rgb(1, 125, 125);
}
.HeadarContainer {
  display: flex;
  margin-right: 10px;
}

.customNavLink {
  padding: 27px 17px;
  display: block;
  text-decoration: none;
  letter-spacing: 2px;
  color: #1f1a1a;
  transition: all 0.3s ease;
  font-size: large;
  font-family: cursive;
}

.customNavLink:hover {
  background: cadetblue;
  color: #fff;
}

.Logo {
  margin-right: auto;
  display: block;
  margin-left: 10px;
}

.ContainerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px;
  flex-wrap: wrap;
  background: rgb(1, 125, 125);
}

.CartMainHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}
.spaceHeader {
  width: 15%;
}

.ContainerInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px;
  flex-wrap: wrap;
  background: rgb(1, 150, 150);
  margin-bottom: 7rem;
}

.CartMainInput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}
.spaceInput {
  width: 15%;
}
.InputContainer {
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.InputLink {
  padding: 27px 17px;
  display: block;
  text-decoration: none;
  letter-spacing: 2px;
  color: #1f1a1a;
  transition: all 0.3s ease;
  font-size: large;
  font-family: cursive;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.InputLink:hover {
  background: cadetblue;
  color: #fff;
}

.SearchInput{
  font-size: larger;
  border-radius: 10px;
  padding: 5px;
  font-family: cursive;
  background-color: white;
  color: black; 
  border: 0;
  
}

.SearchInput:focus{
  box-shadow: 0 0 10px 2px #fff;
  border: 2px solid #0078d4;
  outline: none;
}

/*-------------------------------------------------------------------------------*/
form {
  width: 500px;
}

form label {
  font-size: 16px;
  font-weight: bold;
}

.inputDiv {
  margin-bottom: 10px;
}

input,
select {
  width: 100%;
  padding: 8px 7px;
  font-size: 16px;
  border: 2px solid #4a5568;
  background-color: #2d3748;
  color: white;
  margin: 5px 0px;
  outline: none;
  border-radius: 10px;
}

input::placeholder {
  color: lightgray;
}
input:focus {
  border-color: lightblue;
}

button {
  width: 100%;
  padding: 8px 8px;
  margin: 16px 0px;
  background-color: darkgreen;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  border: none;
}

.input-error {
  border-color: firebrick;
}

.error {
  color: firebrick;
  font-size: 12px;
  text-align: left;
}

.fromContainer{
  display: flex;
  width: 100%;
  
  align-items: center;
  
  background:cadetblue ;
  flex-direction: column;
  height: 100vh;
}

.RegisterFrom{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}




